@media (max-width:1680px){
	.modaltwo .text-box h2 {
		font-size: 48px;
		line-height: 50px;
	}
	.modaltwo .text-box p {
		font-size: 22px;
		line-height: 28px;
	}
	/*--------omer----------*/
	.modalthree .modal-dialog {max-width: 80%;}
}
@media (max-width:1600px){
	.text-box {padding: 60px 35px;}
	.modaltwo .text-box h2 {
		font-size: 45px;
		line-height: 48px;
	}
	.modaltwo .text-box p {font-size: 21px;}
}
@media (max-width:1440px){
	.text-box h3 {
		font-size: 40px;
		margin: 0 0 50px 0;
	}
	.modalone .text-box p {font-size: 21px;}
	.nxtbtn {
    	top: 42%;
    	left: 38%;
	}
	.modaltwo .text-box h2 {
		font-size: 36px;
		line-height: 40px;
	}
	.modaltwo .text-box p {
		font-size: 16px;
		line-height: 25px;	
	}
	/*--------omer----------*/
	.modalthree .modal-dialog {max-width: 92%;}
}
@media (max-width:1366px){
	.text-box h3 {font-size: 38px;}
	.modaltwo .text-box {padding: 240px 60px 240px 140px;}

}
@media (max-width:1360px){
	.text-box h3 {font-size: 37px;}
}
@media (max-width:1280px){
	.text-box h3 {font-size: 35px;}
	.modalone .text-box p {font-size: 18px;}
	.nxtbtn {top: 46%;}
	/*--------omer----------*/
	.modalthree .modal-dialog {
 		margin:  0;
 		max-width: 100%;
 	}
}
@media (max-width:1200px){
	.modalone .modal-dialog{width: 100%;}
	.video-box{padding: 70px 0 0;}
	.text-box {padding: 40px 35px;}
	.text-box h3 {
    	font-size: 32px;
    	line-height: 35px;
	}
	.titel {padding: 90px 0;}
	.modaltwo .text-box h2 {
		font-size: 30px;
		line-height: 35px;
	}
	.modaltwo .text-box p {
		font-size: 15px;
		line-height: 25px;
	}
}
@media (max-width:1199px){
	.titel h2{font-size: 45px;}
	.text-box h3{font-size: 30px;}
	.modalthree .text-box h3{
		font-size: 40px;
		line-height: 55px;
	}
	.modalthree .description p{
		font-size: 20px;
	}
	.modalthree .modalcontent-box{min-height: 535px;}
}
@media (max-width:1080px){
	.text-box h3 {
		font-size: 29px;
		margin: 0 0 35px 0;
	}
	.titel {padding: 80px 0;}
	.nxtbtn {
    	top: 42%;
    	left: 38%;
    	width: 70px;
    	height: 70px;
	}
	.nxtbtn i {font-size: 27px;}
	.modaltwo .text-box h2 {
		font-size: 26px;
		line-height: 32px;
	}
}
@media (max-width:1050px){
	.text-box h3 {
    	font-size: 25px;
    	margin: 0 0 30px 0;
    	line-height: 28px;
    	padding: 0 0 25px;
	}
	.modaltwo .text-box h2 {
		font-size: 25px;
		line-height: 32px;
	}
}
@media (min-width:1024px){
		.page-wrapper{margin-left:240px}
		.footer{left:240px}
}
@media (max-width:1024px){
		.modal-contentarea {padding: 20px 0 100px;}
		/*--------omer----------*/
		.modaltwo .text-box {padding: 240px 60px 240px 130px;}
}
@media (max-width:1023px){
	.page-wrapper{margin-left:60px;transition:0.2s ease-in}
	.footer{left:60px}
	.widget-app-columns{-webkit-column-count:1;-moz-column-count:1;column-count:1}
	.inbox-center a{width:200px}
	.template-area{width:32%;}
}
@media (min-width: 992px){
	.modal-lg {max-width: 850px!important;}
}
@media (max-width: 992px){
	.titel {padding: 75px 0;}
	.modalone .text-box p {font-size: 17px;}
}
@media (max-width: 991px){
	.titel {padding: 50px 0;}
	.nxtbtn {
    	top: 38%;
    	left: 45%;
	}
	/*--------omer----------*/
	.modaltwo .text-box {padding: 180px 49px 180px 130px;}
	.modalthree .modal-contentarea{padding: 80px 60px;}
}
@media (max-width: 900px){
	/*--------omer----------*/
	.modaltwo .text-box h2 {
		font-size: 20px;
		line-height: 26px;
		margin: 0 0 30px;
	}
	.modaltwo .text-box p {
		font-size: 14px;
		line-height: 22px;
	}
}
@media (max-width: 800px){
	.modalone .text-box p {
		font-size: 15px;
		line-height: 23px;
	}
	.nxtbtn {
    	top: 40%;
    	left: 45%;
	}
	/*--------omer----------*/
	.modaltwo .text-box {padding: 135px 49px 180px 80px;}
	.img-box figure {margin: 0 0 0 50px;}
}
@media (min-width:768px){
	.navbar-header{width:240px;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}
	.navbar-header .navbar-brand{padding-top:0px}
	.page-titles .breadcrumb{float:right}
	.card-group .card:first-child,.card-group .card:not(:first-child):not(:last-child){border-right:1px solid rgba(0, 0, 0, 0.03)}
	.material-icon-list-demo .icons div{width:33%;padding:15px;display:inline-block;line-height:40px}
	.mini-sidebar .page-wrapper{margin-left:60px}
	.mini-sidebar .footer{left:60px}
	.flex-wrap{-ms-flex-wrap:nowrap!important;flex-wrap:nowrap!important;-webkit-flex-wrap:nowrap!important}
}
@media (max-width:768px){
	/*--------omer----------*/
	.text-box h3 {
		font-size: 23px;
		margin: 0 0 25px 0;
		line-height: 25px;
		padding: 0 0 20px;
	}
	.modaltwo .text-box h2 {
		font-size: 19px;
		line-height: 24px;
	}
	.modaltwo .text-box p {
		font-size: 12px;
		line-height: 20px;
	}
	.modaltwo .modalcontent-box {padding: 35px 35px 40px 0;}
}
@media (max-width:767px){
	.topbar{position:fixed;width:100%}
	.topbar .top-navbar{padding-right:15px;-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;-webkit-align-items:center}
	.topbar .top-navbar .navbar-collapse{display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%}
	.topbar .top-navbar .navbar-nav{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
	.topbar .top-navbar .navbar-nav>.nav-item.show{position:static}
	.topbar .top-navbar .navbar-nav>.nav-item.show .dropdown-menu{width:100%;margin-top:0px}
	.topbar .top-navbar .navbar-nav>.nav-item>.nav-link{padding-left:.50rem;padding-right:.50rem}
	.topbar .top-navbar .navbar-nav .dropdown-menu{position:absolute}
	.mega-dropdown .dropdown-menu{height:480px;overflow:auto}
	.mini-sidebar .page-wrapper{margin-left:0px;padding-top:60px}
	.comment-text .comment-footer .action-icons{display:block;padding:10px 0}
	.vtabs .tabs-vertical{width:auto}.footer{left:0px}
	.material-icon-list-demo .icons div{width:100%}
	.error-page .footer{position:fixed;bottom:0px;z-index:10}
	.error-box{position:relative;padding-bottom:60px}
	.error-body{padding-top:10%}
	.error-body h1{font-size:100px;font-weight:600;line-height:100px}
	.login-register{position:relative;overflow:hidden}
	.login-box{width:90%}
	.login-sidebar{padding:10% 0}
	.login-sidebar .login-box{position:relative}
	.chat-main-box .chat-left-aside{left:-250px;position:absolute;transition:0.5s ease-in;background:#ffffff}
	.chat-main-box .chat-left-aside.open-pnl{left:0px}
	.chat-main-box .chat-left-aside .open-panel{display:block}
	.chat-main-box .chat-right-aside{width:100%}
	ul.timeline:before{left:40px}
	ul.timeline>li>.timeline-panel{width:calc(100% - 90px)}
	ul.timeline>li>.timeline-badge{top:16px;left:15px;margin-left:0}
	ul.timeline>li>.timeline-panel{float:right}
	ul.timeline>li>.timeline-panel:before{right:auto;left:-15px;border-right-width:15px;border-left-width:0}
	ul.timeline>li>.timeline-panel:after{right:auto;left:-14px;border-right-width:14px;border-left-width:0}
	.left-aside{width:100%;position:relative;border:0px}
	.right-aside{margin-left:0px}
	.flex-wrap{-ms-flex-wrap:wrap!important;flex-wrap:wrap!important;-webkit-flex-wrap:wrap!important}
	.chat-list li .chat-content{width:calc(100% - 80px)}
	.template-area{width: 47%;}
	.video-box{padding: 0;}
	.nxtbtn{
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.modalone .modal-dialog{margin: 0;}
	.nxtbtn {display: none;}
	.titel {padding: 0;}
	.video-box figure:before,
	.video-box figure:after{display: none;}
	.video-box figure {padding: 18px;}
	/*--------omer----------*/
	.img-box figure {
		margin: 0 auto;
		padding: 25px 0 0;
	}
	.modalcontent-boxholder {border-left: 3px solid #000;}
	.modaltwo .modalcontent-box {padding: 25px;}
	.img-box {padding: 80px 0 50px;}
	.img-box figure img {
		width: 90%;
		margin: 0 auto;
	}
	.modaltwo .text-box {padding: 50px 50px 135px 70px;}
	.modaltwo .text-box h2 {
		font-size: 20px;
		margin: 0 0 20px;
		line-height: 24px;
	}
	.modaltwo .text-box p {
		font-size: 14px;
		line-height: 20px;
	}
	.modal-dialog {margin: 50px auto;}
		.modalthree .text-box h3 {
	    font-size: 30px;
	    line-height: 45px;
	}
	.modalthree .description p{
		font-size:  18px;
		line-height:  30px;
	}
}
@media (max-width:640px){
	.modal-contentarea {padding: 20px 0 50px;}
	/*--------omer----------*/
	.modaltwo .text-box {padding: 40px 50px 115px 50px;}
}
@media (max-width:567px){
	.nxtbtn{top: 60%;}
	/*--------omer----------*/
	.img-box {padding: 50px 0 30px;}
	.modaltwo .text-box {padding: 30px 25px 100px 25px;}
}
@media (max-width:479px){
	.nxtbtn{display: none;}
	.titel h2 {font-size: 30px;}
	.text-box h3 {font-size: 20px;}
	.video-box figure {padding: 10px;}
	.text-box {padding: 15px;}
	/*--------omer----------*/
	.modaltwo .modalcontent-box {padding: 12px;}
	.modal-dialog {margin: 120px auto;}
	.modal-logo img{width: 125px;}
	.modaltwo .text-box {padding: 30px 15px 80px 15px;}
	.modaltwo .text-box h2 {margin: 0 0 15px;}
	.modaltwo .text-box p {
		font-size: 11px;
		line-height: 17px;
	}
}